---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


<!-- <li> <b>Passed Qualifying Exam:</b> October 2021</li>  <li> <b>Passed Preliminary Exam:</b> September 2024</li>  -->

<h2>Education</h2>
<ul>
<li> PhD in Computer Science (2020 - 2025), <a style="display: inline "href="https://cs.illinois.edu/" >CS@ILLINOIS</a> </li>
  <ul>
    <li> <b>Research topics:</b> Cloud Computing, Computer Architecture.
    <li> <b>Advisor:</b> Prof. <a style="display: inline "href="https://iacoma.cs.uiuc.edu/josep/torrellas.html" >Josep Torrellas </a></li>
    <li> <b>GPA:</b> 4.0/4; <b>Awards:</b> W. J. Poppelbaum Memorial Award (2025), Mavis Future Faculty Fellowship (2024), Kenichi Miura Award (2022)</li>
  </ul>
  
<li> B.Sc. degree in Electrical and Computer Engineering (2016-2020), <a style="display: inline "href="https://www.etf.bg.ac.rs/en#gsc.tab=0" >SEE-UB</a> </li>
  <ul>
    <li> <b>GPA:</b> 9.89/10; <b>Awards:</b> Best student of the Computer Engineering and Information Theory Department</li>
  </ul>
</ul>

<h2>Research Experience</h2>
  <ul>
  <li> Research Assistant (August 2020 - August 2025), <a style="display: inline "href="https://cs.illinois.edu/" >iacoma</a> group and <a style="display: inline "href="https://cs.illinois.edu/" >CS@ILLINOIS</a> </li>
  <li> PhD Intern (May 2024 - August 2024), <a style="display: inline "href="https://www.microsoft.com/en-us/research/group/azure-research-systems/" >Azure Research - Systems</a> </li>
  <li> PhD Intern (May 2023 - August 2023), <a style="display: inline "href="https://www.microsoft.com/en-us/research/group/azure-research-systems/" >Azure Research - Systems</a> </li>
  <li> Graduate Intern, Hybrid Cloud (May 2022 - August 2022), <a style="display: inline "href="https://research.ibm.com/" >IBM Research</a> </li>
  <li> Undergrad Research Assistant (January 2019 - July 2020), <a style="display: inline "href="https://rti.etf.bg.ac.rs/" >Computer Engineering Department, University of Belgrade</a> </li>
  <li> Undergrad Researcher (May 2019 - July 2019), <a style="display: inline "href="https://maria.gorlatova.com/lab-members/" >Intelligent Interactive Internet of Things Lab</a> and <a style="display: inline "href="https://pratt.duke.edu/" >Duke University</a></li>
  </ul>

<h2>Teaching Experience</h2>
<ul>
<li> Teaching Assistant (Spring 2025), <a style="display: inline "href="https://cs.illinois.edu/" >UIUC-CS</a> </li>
  <ul>
    <li> <b>Course:</b> Parallel Computer Architecture (CS 533).</li>
  </ul>
<li> Undergraduate Teaching Assistant (2017-2020), <a style="display: inline "href="https://www.etf.bg.ac.rs/en#gsc.tab=0" >SEE-UB</a> </li>
  <ul>
    <li> <b>Courses:</b> Computer Architecture, Computer Architecture and Organization, Object-oriented Programming, Operating Systems, Computer Networks, Probability and Statistics, Algorithms and Data Structures, Laboratory Exercises in Fundamentals of Electrical Engineering, Databases.</li>
  </ul>
</ul>

