---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

## Undergraduate Teaching Assistant.

School of Electrical Engineering, University of Belgrade, 2017-2022

<i>Courses</i>: Computer Architecture, Computer Architecture and Organization, Object-oriented
Programming, Operating Systems, Computer Networks, Probability and Statistics, Algorithms
and Data Structures, Laboratory Exercises in Fundamentals of Electrical Engineering, Databases.
